.header {
  &-main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    &-profile {
      display: flex;
      gap: 10px;
      color: $first-color;
      font-weight: bold;
      a {
        color: $first-color;
      }
    }
  }
  img {
    max-width: 100%;
    width: 200px;
  }
}
