.header {
  &-main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    &-profile {
      display: flex;
      color: $first-color;
      font-weight: bold;
      align-items: center;
      a {
        color: $first-color;
      }
      .fa {
        margin-right: 0.3rem;
      }
    }
    &-signout {
      display: flex;
      color: $first-color;
      font-weight: bold;
      align-items: center;
      .sign-out {
        display: flex;
        align-items: center;
      }
      a {
        color: $first-color;
      }
      .sign-out,
      p {
        margin-right: 0.5rem;
      }
      .fa {
        margin-right: 0.3rem;
      }
    }
  }
  img {
    max-width: 100%;
    width: 200px;
  }
}
